.python-version
.messages.yml
.response.yml
sa-*
work/
.env
.venv/
*.log
results.jsonl
prompts/
wavs/
tmp/
spins/
tmpdir*/
*.wav
# Mac OS files
.DS_Store
# Python stuff
*.egg-info/
.eggs/
__pycache__/
*.pyc
